.container{
    padding: 1rem 1.5rem;

}
.center{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
form{
    margin: 2rem;
    width: 80%;
    height: 40vh;
    min-width: 320px;
}
.sec-form{
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1rem;
}
.sec-input{
    width: 300px;
    margin: 0 1rem ;
    padding: 2px;
    background: white;
}
.arrow-back{
    width: 100%;
    justify-content: start;
    align-items: flex-start;
}
.btn-createTask{
    background: var(--pink);
    color: var(--gray-800);
    width: 300px;
    border: none;
    border-radius: 15px;
}
@media (max-width: 320px){
    .sec-input{
        margin: 0 0rem ;
        padding: 0;
    }
    form{
        margin: 0 1rem;
    }
}